body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.HUDContainer {
	border: 5px #00FFF2 solid;
	border-radius: 20px;
	background-color: black;
	opacity: 65%;
	position: fixed;
}

#dialogueContainer {
	bottom: 0;
	height: 19vh;
	width: 72vw;
	margin-left: 3vw;
	margin-right: 3vw;
	margin-bottom: 1vh;
}

#dialogueImg {
	border: 5px pink solid;
	float: left;
	margin-top: 2vh;
	margin-left: 1vw;
	height: 14vh;
	width: 14vh;
}

#dialogueTextButton {
  position: absolute; 
  right: 0px;
}

#dialogueTextWrapper {
	display: none; 
  width: 50vw;
	height: 16vh;
  margin-top: 0.25vh;
  margin-left: 0.25vw;
}

#dialogueText {
  display: inline-block;
	float: left;
  padding: 1%;
	background-color: #fffccb;
	color: #00008b;
	font-size: 1.5em;
  width: 100%;
  height: 100%;
  overflow: scroll !important;
}


#inventoryContainer {
	margin-bottom: 1vh;
	margin-right: 3vw;
	bottom: 0;
	right: 0;
	width: 20vw;
	height: 19vh;

	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */

	color: white;
}

#inventoryContainer::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}

#inventoryContainer table {
	margin: 0.5vw;
}

.inventoryCell td {
	width: 3.5vw;
	height: 3.5vw;
	/* border: 1px pink solid; */
	color: white;
	font-size: 1em;
	position: relative;
}

.inventorySubscript {
	position: absolute;
	bottom: 0;
	right: 0.5vh;
}

.inventoryCell img {
	width: 100%;
	height: auto;
}


