body {
  overflow: hidden;
  margin: 0;
  padding: 0;

	/* Don't select text on double click */
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.HUDContainer {
	border: 5px #00FFF2 solid;
	border-radius: 20px;
	background-color: black;
	opacity: 65%;
	position: fixed;
}

#conversationContainer {
	bottom: 0;
	height: 19vh;
	width: 72vw;
	margin-left: 3vw;
	margin-right: 3vw;
	margin-bottom: 1vh;
}

#conversationContainer div {
	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	color: white;
}

#conversationContainer div::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}

#portraitImg {
	border: 3px pink solid;
	float: left;
	margin-top: 2vh;
	margin-left: 2vh;

	/* margin-top: 1%; */
	/* margin-left: 1%; */
	height: 14vh;
	/* width: 14vh; */
	width: 10%;
}

#dialogueTextWrapper {
	display: none; 
  width: 50vw;
	height: 16vh;
  margin-top: 0.25vh;
  margin-left: 0.25vw;
}

#dialogueText {
  display: inline-block;
	float: left;
  padding: 1%;
	background-color: #fffccb;
	color: #00008b !important;
	font-size: 1.5em;
  width: 100%;
  height: 100%;
}


#itemContainer {
	text-align: left;
	height: 19vh;
	opacity: 100%;
}

#itemContainer table {
	margin: 0.5vw;
}

.itemCell td {
	width: 3.5vw;
	height: 3.5vw;
	/* border: 1px pink solid; */
	color: white;
	font-size: 1em;
	position: relative;
}

.itemCell img:hover{
	cursor: pointer;
}

.itemSubscript {
	position: absolute;
	bottom: 0;
	right: 0.5vh;
}

.itemCell img {
	width: 100%;
	height: auto;
}

#questBannerContainer {
  display: none;
	margin-left: 25vw; 
	margin-right: 25vw; 
	margin-top: 30vh; 
	margin-bottom: 40vh; 

	height: 30vh;
	width: 50vw;
	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */


	background-color: #00FFF2;
	color: black;
	border: 2px black solid;
	border-radius: 0;
	position: fixed;

	font-size: 1em;
	text-align: center;
}

#questBannerTitle {
	font-size: 2em;
	font-weight: bold;
	margin-top: 5vh;
	margin: 3vh;
}

#questBannerContainer::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}

.questBannerButton button {
	border-radius: 5px;
	border: none;
	margin-top: 4vh;
	background-color: black;
	color: white;
}

#quickAccessContainer {
	margin-bottom: 1vh;
	margin-right: 3vw;
	bottom: 0;
	right: 0;
	width: 20vw;
	height: 19vh;

	overflow-y: scroll;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */

	color: white;
}

#quickAccessContainer::-webkit-scrollbar { /* WebKit */
	width: 0;
	height: 0;
}

#quickAccessContainer table {
	margin: 0.5vw;
}


/* ============================ */

.wrapper {
	position: absolute;
	z-index: 9999;
	top: 12%;
	left: 27%;
	width: 50%;
	height: 50%;
}

#gridDisplay {
	width: 60vh;
	height: 60vh;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: 3px solid white;
	border-radius: 2%;

	display: inline-block;
	float: left;
	margin: 5px;
}

#cardContainer {
	width: 30vh;
	height: 40vh;
	background-color: rgba(255, 255, 255, 0.5);
	border: 3px solid white;
	border-radius: 2%;

	display: inline-block;
	float: left;
	margin: 5px;
	text-align: center;
}


.list-style-menu-container {
	display: block;
	width: 100%;
	text-align: center;
}

.list-style-menu-header {
	width: 100%;
	margin-top: 0.5em;
	font-size: 1.6em;
	text-align: center; 
	background-color: lightgrey;
	color: black;
}

.list-style-menu-container ul {
	float: center;
	padding: 6%;
	padding-top: 0;
}

.list-style-menu-container li {
	width: 10.5vw;
	font-size: 1em;
	border: 1px solid pink;
	border-radius: 5px;
	list-style-type: none;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	text-align: left;

	font-weight: bold;
}

.list-style-menu-container li:hover {
	cursor: pointer;
}

#infoCardTitle {
	width: 80%;
	margin-top: 0.5em;
	font-size: 1.4em;
	text-align: center; 
}

#infoCardDescription {
	padding: 6%;
	text-align: left;
	width: 75%;
	float: left;
}

#infoCardButton {
	font-size: 1em;
	text-align: center;
	width: 5vw;
	height: 1.4em;
	padding: 0.2em;
	margin: 0;
	display: block;
	background-color: #00FFF2;
	border: none;
	border-radius: 10px;
	opacity: 100%;
}

#infoCardButton:hover {
	cursor: pointer;
}


