<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>EnchantedForest</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

  </head>
  <body>
		<script src="/static/libs/jquery.min.js" charset="utf-8"></script>
		<script src="/static/libs/p5.min.js" charset="utf-8"></script>
		<script src="/static/libs/tinyqueue.min.js" charset="utf-8"></script>
		<script src="/static/libs/notify.min.js" charset="utf-8"></script>
		<script src="/static/libs/vue.js" charset="utf-8"></script>
		<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->


		<script src="/static/js/graphAlgs.js" charset="utf-8"></script>
		<script src="/static/js/Entity.js" charset="utf-8"></script>
		<script src="/static/js/ItemManager.js" charset="utf-8"></script>
		<script src="/static/js/QuestSystem.js" charset="utf-8"></script>
		<script src="/static/js/Projectile.js" charset="utf-8"></script>
		<script src="/static/js/Player.js" charset="utf-8"></script>
		<script src="/static/js/HUD.js" charset="utf-8"></script>
		<script src="/static/js/Dialogue.js" charset="utf-8"></script>
		<script src="/static/js/Particle.js" charset="utf-8"></script>
		<script src="/static/js/sketch.js" charset="utf-8"></script>

		<div id="inventoryContainer" class="HUDContainer">

			<img id="portraitImg" src="/static/data/avatars/empty.png">

			<div id="dialougeContainer">
				<div id="dialogueTextWrapper">
					<div id="dialogueText">
						<p><emph id="npcName"> </emph></p>
						<p><emph id="npcDialogue"> </emph></p>
					</div>
				</div>
			</div>

			<div id="itemContainer">
			<table id="itemTable" class="itemCell"></table>

			<div id="itemInfoPage">
				<div id="itemTitle"></div>
				<div id="itemUseButton">USE</div>
				<div id="itemDescription"></div>
			</div>
		</div>

	</div>

	<div id="quickAccessContainer" class="HUDContainer">
			<table id="quickAccessTable" class="itemCell">
				<tbody>
					<tr id="quickAccessRow1">
							<td v-for="i in numbers">
								<img src="/static/data/avatars/empty.png" :id="'quickAccess'+i" onclick="return;">
								<div class="itemSubscript"></div>
							</td>
					</tr>
					<tr id="quickAccessRow2">
						<td v-for="i in numbers">
							<img src="/static/data/avatars/empty.png" :id="'quickAccess'+i" onclick="return;">
							<div class="itemSubscript"></div>
						</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div id="questBannerContainer">
		<div id="questBannerTitle"></div>
		<div id="questBannerObjectives"></div>
		<div id="questBannerRewards"></div>

		<div class="questBannerButton">
			<button id="questBannerAcceptButton">Accept</button>
			<button id="questBannerDeclineButton">Decline</button>
		</div>
	</div>

	<div class="wrapper">

		<div id="gridDisplay">
			<div id="questContainer">
				<div id="questHeader">Quests</div>
				<ul id="questList"></ul>
			</div>
		</div>
		<div id="cardContainer">
			<div id="questInfoPage">
				<center>
					<div id="questTitle"></div>
					<div id="questDescription"></div>
				</center>
			</div>
		</div>

	</div>


	<script>
	var quickAccessVueObjRow1 = new Vue({
		el: '#quickAccessRow1',
		data: { numbers: [1,2,3,4,5] }
	});
	var quickAccessVueObjRow2 = new Vue({
		el: '#quickAccessRow2',
		data: { numbers: [6,7,8,9,0] }
	});
	</script>

  </body>
</html>
