<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>EnchantedForest</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">

  </head>
  <body>
		<script src="/static/libs/jquery.min.js" charset="utf-8"></script>
		<script src="/static/libs/p5.min.js" charset="utf-8"></script>
		<script src="/static/libs/tinyqueue.min.js" charset="utf-8"></script>
		<script src="/static/libs/notify.min.js" charset="utf-8"></script>
		<script src="/static/libs/vue.js" charset="utf-8"></script>


		<script src="/static/js/graphAlgs.js" charset="utf-8"></script>
		<script src="/static/js/Entity.js" charset="utf-8"></script>
		<script src="/static/js/ItemManager.js" charset="utf-8"></script>
		<script src="/static/js/QuestSystem.js" charset="utf-8"></script>
		<script src="/static/js/Projectile.js" charset="utf-8"></script>
		<script src="/static/js/Player.js" charset="utf-8"></script>
		<script src="/static/js/HUD.js" charset="utf-8"></script>
		<script src="/static/js/Dialogue.js" charset="utf-8"></script>
		<script src="/static/js/Particle.js" charset="utf-8"></script>
		<script src="/static/js/sketch.js" charset="utf-8"></script>

		<div id="conversationContainer" class="HUDContainer">
			<img id="portraitImg" src="/static/data/avatars/empty.png">
			<div id="dialougeContainer">
				<div id="dialogueTextWrapper">
					<div id="dialogueText">
						<p><emph id="npcName"> </emph></p>
						<p><emph id="npcDialogue"> </emph></p>
					</div>
				</div>
			</div>
		</div>

		<div id="quickAccessContainer" class="HUDContainer">
			<table id="quickAccessTable" class="itemCell">
				<tbody>
					<tr id="quickAccessRow1">
							<td v-for="i in numbers">
								<img src="/static/data/avatars/empty.png" :id="'quickAccess'+i" onclick="return;">
								<div class="itemSubscript"></div>
							</td>
					</tr>
					<tr id="quickAccessRow2">
						<td v-for="i in numbers">
							<img src="/static/data/avatars/empty.png" :id="'quickAccess'+i" onclick="return;">
							<div class="itemSubscript"></div>
						</td>
					</tr>
				</tbody>
			</table>
	</div>

	<div id="questBannerContainer">
		<div id="questBannerTitle"></div>
		<div id="questBannerObjectives"></div>
		<div id="questBannerRewards"></div>

		<div class="questBannerButton">
			<button id="questBannerAcceptButton">Accept</button>
			<button id="questBannerDeclineButton">Decline</button>
		</div>
	</div>

	<div class="wrapper">

		<div id="gridDisplay">

			<div id="itemContainer">
				<div id="questHeader">Items</div>
				<table id="itemTable" class="itemCell"></table>
			</div>

			<div id="questContainer">
				<div id="questHeader">Quests</div>
				<ul id="questList"></ul>
			</div>

		</div>

		<div id="cardContainer">
			<center>
				<div id="infoCardTitle"></div>
				<div id="infoCardDescription"></div>
				<button id="itemUseButton">USE</button>
			</center>
		</div>

	</div>


	<script>
	var quickAccessVueObjRow1 = new Vue({
		el: '#quickAccessRow1',
		data: { numbers: [1,2,3,4,5] }
	});
	var quickAccessVueObjRow2 = new Vue({
		el: '#quickAccessRow2',
		data: { numbers: [6,7,8,9,0] }
	});
	</script>

  </body>
</html>
